html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow:hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
    height: 100%;
}

#app > .registerPage,
#app > .registerPage > div.v-card {
    height: 100%;
}

.emptyPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: 1 1 0px;
}

#menuContainer {
    height: 100%;
    display: flex;
}

#menuContainer > div.v-card {
    flex: 0 0 auto;
}

#outterWrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 0px;
}

#outterWrapper > .v-application--wrap > #contentHeaderContainer > div {
    height: 56px;
    display: flex;
    align-items: flex-end;
    padding-left: 35px;
    padding-right: 35px;
}

#outterWrapper > .v-application--wrap > #contentHeaderContainer > hr {
    margin-bottom: 0px;
}

#outterWrapper > .v-application--wrap > #contentHeaderContainer > #contentHeader> p#subHeader {
    margin: 0;
    padding: 0;
    margin-right: auto;
    color: white;
}

#outterWrapper > .v-application--wrap > #contentHeaderContainer > #contentHeader > p#loginUser {
    margin: 0;
    padding: 0;
    margin-left: auto;
    color: white;
}

#fileContentContainer {
    flex: 1 1 0px;
    overflow-y: scroll;
}

#fileContentContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    scroll-behavior: smooth;
}

#fileContentContainer > div.v-application--wrap{
    flex-direction: row;
    flex-wrap: inherit;
}

div.cardsContainer {
    flex: 1 1 0px;
    padding: 25px;
}

div.cardsContainer > .b-skeleton-wrapper,
div.cardsContainer > .progress {
    width: 300px;
    margin-right: auto;
    margin-left: auto;
}

div.cardsContainer .v-card__subtitle,
div.cardsContainer .v-card__text > div {
    white-space: nowrap;
    word-break: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.cardsContainer > .progress {
    width: 300px;
    margin-top: 5px;
}

.cardsContainer.skeletonContainer {
    display: flex;
    flex-direction: column;
}
.cardsContainer.skeletonContainer > div.b-skeleton-wrapper {
    flex: 1 1 0;
}
.cardsContainer.skeletonContainer > div.b-skeleton-wrapper > div.card {
    height: 100%;
}

.cardsContainer.skeletonContainer > .progress{
    flex: 0 0 auto;
}

/* .v-card__subtitle,
.v-card__text {
    overflow-wrap: normal;
} */

div.cardsContainer div.v-card__actions > button.v-btn.v-btn--left {
    margin-right: auto;
}

div.cardsContainer div.v-card__actions > button.v-btn.v-btn--right {
    margin-left: auto;
}
/*
.v-skeleton-loader__button.v-skeleton-loader__bone {
    margin-left: auto;
    margin-right: 8px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}

#fileContentContainer > .v-application--wrap > div.v-progress-circular {
    bottom: 0;
    right: 0;
    position: fixed;
    margin-right: 35px;
    margin-bottom: 15px;
} */

/* Video rules */
.videoContainer {
    width: 100%;
    height: 200px;
}

.videoContainer > .video-js {
    width: 100%;
    height: 100%;
}

.cardThumbnail > .v-image > div.v-responsive__content {
    justify-content: center;
    align-items: center;
    height: 100%;
    display: flex;
}

/* Three.js component */

#spacewarpContainer {
    height: 100%;
    position: absolute;
}

#drawerContainer {
    background-color: transparent;
    background: rgb(232 255 255 / 10%)
}

#drawerContainer > .v-navigation-drawer {
    background-color: transparent;
}

.cardEle {
    background: rgb(232 255 255 / 10%) !important;
}

#cardSubtitble {
    color: black;
    background: rgb(232 255 255 / 20%);
}

.v-card > .v-card__text {
    background: rgb(232 255 255 / 20%);
}

.v-list-item__title {
    color: white;
}

#drawerContainer div.v-navigation-drawer__content div.v-list-item {
    color: white
}

#drawerContainer div.v-navigation-drawer__content div.v-list-item:hover {
    background: rgb(232 255 255 / 20%);
}

.cardBtn {
    background-color: rgb(232 255 255 / 50%) !important;
}