html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    overflow:hidden;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin: 0px;
    height: 100%;
}

#app > .registerPage,
#app > .registerPage > div.v-card {
    height: 100%;
}

#menuContainer {
    height: 100%;
    display: flex;
}

#menuContainer > div.v-card {
    flex: 0 0 auto;
}

#menuContainer > div#fileContentContainer {
    flex: 1 1 0px;
    overflow-y: scroll;
}

#fileContentContainer {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

div.cardsContainer {
    flex: 1 1 0px;
    padding: 25px;
}